<div class= "row" >
  <div class= "small-12 columns panel">
    <fieldeset>
      <legend> Otra información</legend>
      <div class="medium-3 small-12 columns">
        <%= f.label :received_at, t('ransack.attributes.proposal.received_at') %>
        <%= f.date_field(:received_at, label: false) %>
      </div>
      <div class="medium-3 small-12 columns end">
        <%= f.label :notify_to, t('ransack.attributes.proposal.notify_to') %>
        <%= f.text_field(:notify_to, label: false)  %>
      </div>
      <div class="medium-3 small-12 columns end">
        <%= f.label :notify_to_confirmation, t('ransack.attributes.proposal.notify_to_confirmation') %>
        <%= f.text_field(:notify_to_confirmation, label: false)  %>
      </div>
    </fieldeset>
  </div>
</div>