<div class= "row proposal" >
  <div class= "small-12 columns">
    <%= form_for @proposal do |f| %>
        <%= render "proposal_data", f: f %>
        <%= render "select_file_type", f: f  %>
        <%= render "form_aditional_data", f: f  %>

        <%= f.submit t("actions.#{action_name}", resource: 'propuesta'), class: "button hollow" %>
    <% end %>
  </div>
</div>

