<div class= "row" >
  <div class= "small-12 columns">
    <%= form_for @proposal do |f| %>
      <table>
        <% if @proposal.automatic_proposal? %>
            <tr><th colspan="4"><h5> Datos de la propuesta SAP: <%= @proposal.sap_proposal %> </h5></th></tr>
            <tr>
             <td>
               <div class="sap-proposal panel">
                 <% Proposal.main_columns_automatic_sap.each_with_index do |field, index| %>
                     <div class="medium-3 small-12 columns end" ><b><%= t("model.proposal.#{field}") %> : </b><%= @proposal.send(field) %></div>
                 <% end %>
               </div>
             </td>
            </tr>
        <% else %>
          <% Proposal.main_columns_manual.each do |field| %>
              <tr>
                <th class="text-left"><%= t("model.proposal.#{field}") %> </th>
                <td><%= f.text_field send(field) %></td>
              </tr>
          <% end %>
        <% end %>
      </table>
      <div class="panel">
        <fieldset class="panel-group">
          <div class="medium-4 small-12 columns">
            <legend> <h5>Tipo de expediente:</h5> </legend> <br>
            <%= f.label :internal_control_file_id, t("model.proposal.internal_control_file") %>
            <%= f.collection_select(:internal_control_file_id, InternalControlFile.order(:code), :id, :description,
                                    include_blank: true, label: false)  %> <br>
            <% if @proposal.sap_proposal.present? %>
                <%= f.label :internal_control_procedure_id, t("model.proposal.internal_control_procedure") %>
                <%= f.collection_select(:internal_control_procedure, InternalControlProcedure.order(:code), :id, :description,
                                        include_blank: true, label: false)  %> <br>
                <%= f.label :internal_control_action_id, t("model.proposal.internal_control_action") %>
                <%= f.collection_select(:internal_control_action, InternalControlAction.order(:code), :id, :description,
                                        include_blank: true, label: false)  %> <br>
            <% end %>
          </div>

        </fieldset>

      </div>

   </div>
</div>
<% end %>

