<div class= "row proposal" >
  <div class= "small-12 columns">
    <%= form_for @proposal do |f| %>
      <%= render "sap_proposal_data", f: f %>
      <div class= "row" >
        <div class= "small-12 columns panel">
          <fieldset class="panel-group">
            <legend>Tipo de expediente:</h5> </legend> <br>
            <div class="medium-3 small-12 columns">
              <%= f.label :internal_control_file_id, t("model.proposal.internal_control_file") %>
              <%= f.collection_select(:internal_control_file_id, InternalControlFile.order(:code), :id, :description,
                                      include_blank: true, label: false)  %>
            </div>
            <% if @proposal.sap_proposal.present? %>
              <div class="medium-3 small-12 columns">
                <%= f.label :internal_control_procedure_id, t("model.proposal.internal_control_procedure") %>
                <%= f.grouped_collection_select(:internal_control_procedure_id, InternalControlFile.order(:code),
                                               :internal_control_procedures, :description, :id, :description,
                                               include_blank: true, label: false)  %>
              </div>
              <div class="medium-3 small-12 columns">
                <%= f.label :internal_control_action_id, t("model.proposal.internal_control_action") %>
                <%= f.grouped_collection_select(:internal_control_action_id, InternalControlProcedure.order(:code),
                                               :internal_control_actions, :description, :id, :description,
                                                include_blank: true, label: false)  %>
              </div>
            <% end %>
          </fieldset>
        </div>
      </div>
      <div class= "row" >
        <div class= "small-12 columns panel">
          <fieldeset>
            <legend> Otra información</legend>
            <div class="medium-3 small-12 columns">
              <%= f.label :received_at, t("model.proposal.received_at") %>
              <%= f.date_field(:received_at,  label: false)  %>
            </div>
            <div class="medium-3 small-12 columns end">
              <%= f.label :notify__to, t("model.proposal.notify_to") %>
              <%= f.text_field(:notify_to, label: false)  %>
              <%= f.text_field(:notify_to_confirmation, label: false)  %>
            </div>
        </fieldeset>
        </div>
      </div>

      <%= f.submit t("actions.new", resource: 'propuesta'), class: "button hollow" %>
   </div>
</div>
<% end %>

