<div class= "row" >
  <div class="small-12 columns">
    <fieldset>
      <legend><h5><%= t('proposals.show.data_proposal') %> </h5>  </legend>
      <table>
        <% if @proposal.automatic_proposal? %>
            <%= f.hidden_field :sap_proposal unless proposal_read_view %>
            <tr>
              <td>
                <% if  proposal_read_view %>
                  <%= render 'sap_data', proposal: @proposal%>
                <% else %>
                    <%= render 'sap_data', proposal: @proposal, f: f %>
                <% end %>
              </td>
            </tr>
        <% else %>
            <% Proposal.main_columns_manual.each do |field| %>
                <tr>
                  <td class="text-left">
                    <%= render 'manual_data', proposal: @proposal %>
                  </td>
                </tr>
            <% end %>
        <% end %>
      </table>
    </fieldset>
  </div>
</div>

