<div class= "row" >
  <div class="small-12 columns">
    <fieldeset>
      <legend>Datos de la propuesta SAP: <%= @proposal.sap_proposal %>   </legend>
      <table>
        <% if @proposal.automatic_proposal? %>
          <%= f.hidden_field :sap_proposal %>
          <tr>
            <td>
              <div class="panel">
                <% Proposal.main_columns_automatic_sap.each_with_index do |field, index| %>
                  <%= f.hidden_field field %>
                  <div class="medium-3 small-12 columns end" ><b><%= t("model.proposal.#{field}") %> : </b><%= @proposal.send(field) %></div>
                <% end %>
              </div>
            </td>
          </tr>
        <% else %>
          <% Proposal.main_columns_manual.each do |field| %>
            <tr>
              <td class="text-left">
                <div class="medium-3 small-12 columns end" >
                  <b><%= t("model.proposal.#{field}") %> : </b> <%= f.text_field field, label: false %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>

    </fieldeset>
  </div>
</div>