<div class="row">
  <div class="small-12 columns">
    <h5><%= title %></h5>
    <fieldset>
      <table>
        <tr class="requeriment">
          <th class="text-left"> <%= t('activerecord.models.requeriment.code') %> </th>
          <th class="text-left"> <%= t('activerecord.models.requeriment.description') %> </th>
          <th class="text-left"> <%= t('activerecord.models.requeriment.observance') %> </th>
          <th class="text-left"> <%= t('activerecord.models.requeriment.update_data') %></th>
        </tr>
        <% requeriments.each do |req| %>
            <tr>
              <td> <%= req.full_code %></td>
              <td> <%= req.description %></td>
              <td class= "text-center" > <%= req.proposal_requeriment(@proposal).humanize_initial_check %></td>
              <td> <%= req.proposal_requeriment(@proposal).updated_by %> - <%= show_simple_date(req.proposal_requeriment(@proposal).updated_at) %> </td>
            </tr>
        <% end %>
        <% if requeriments.count == 0 %>
            <tr>
              <td class= "text-center" colspan="3"> <%= t('proposal.show.requeriments.empty')%> </td>
            </tr>
        <% end %>
      </table>
    </fieldset>
  </div>
</div>

