<%= render "search_form" %>

<div class= "row" >
  <div class= "small-12 columns">
    <div class="medium-9 medium-centered small-12 columns">
      <h1><%= t('proposals.index.title') %> </h1>
    </div>
    <div class="medium-2 small-12 columns">
      <%= link_to t('actions.new', resource: t('activerecord.models.proposal.one')), select_type_proposals_path, class: "hollow button" %>
    </div>
  </div>
</div>

<div class= "row" >
  <div class= "small-12 columns">
    <table>
      <tr>
        <% Proposal.index_columns.each do |field| %>
            <th><%= sort_link @search, field, t("activerecord.attributes.proposal.#{field}") %></th>
        <% end %>
        <th><%= t('proposals.index.actions_column') %></th>
      </tr>

      <% @proposals.each do |proposal| %>
          <tr class= "proposal-row" id="proposal_<%=proposal.id%>">
            <% Proposal.index_columns.each do |field| %>
                <td> <%= proposal.send(field) %></td>
            <% end %>
            <td>
              <%= link_to("", proposal, title: 'Ver detalle', class: "icon-search") %>
              <%= link_to("", edit_proposal_path(proposal), title: 'Modificar', class: "icon-pencil") %>
              <%= link_to("", mark_requeriment_proposal_path(proposal), title: 'Marcar requisitos', class: "icon-check-square-o") %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
