<div class= "row" >
  <div class= "small-12 columns">
    <h1><%= t('proposals.show.title') %></h1>
    <%= render 'proposal_data', proposal: @proposal %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h5><%= t('proposals.show.data_sicia') %></h5>
    <%= render 'aditional_data', proposal: @proposal %>
  </div>
</div>

<div class="row">
  <ul class="tabs" data-tabs id="requeriment-tabs">
    <li class="tabs-title is-active"><a href="#basic_req" aria-selected="true"><%= t("activerecord.models.requeriment.RB.other") %></a></li>
    <li class="tabs-title"><a data-tabs-target="document" href="#document"><%= t("activerecord.models.requeriment.DOC.other") %></a></li>
    <li class="tabs-title"><a data-tabs-target="permanent_control" href="#permanent_control"><%= t("activerecord.models.requeriment.CP.other") %></a></li>
  </ul>
</div>

<div class="row">
  <div class="tabs-content" data-tabs-content="requeriment-tabs">
    <%= render 'requeriments_tab', tab: "basic_req", kind: "RB", proposal: @proposal, active: "is-active" %>
    <%= render 'requeriments_tab', tab: "document",  kind: "DOC", proposal: @proposal, active: "" %>
    <%= render 'requeriments_tab', tab: "permanent_control", kind: "CP", proposal: @proposal, active: "" %>
  </div>
</div>
