<div class= "row" >
  <div class= "small-12 columns">
    <h1><%= t('proposals.show.title') %></h1>
    <%= render 'proposal_data', proposal: @proposal %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h5><%= t('proposals.show.data_sicia') %></h5>
    <%= render 'aditional_data', proposal: @proposal %>
  </div>
</div>

<%= render 'show_requeriments', requeriments: @proposal.requeriments.basic_req, title: t('activerecord.models.requeriment.RB.other') %>

<%= render 'show_requeriments', requeriments: @proposal.requeriments.permanent_control, title: t('activerecord.models.requeriment.CP.other') %>

<%= render 'show_requeriments', requeriments: @proposal.requeriments.document, title: t('activerecord.models.requeriment.DOC.other') %>
