<header>

  <%= render 'shared/top_links' %>

  <div class="row no-max-width">
    <div class="top-bar">

      <%= link_to Setting['header_logo'], root_path, class: 'logo show-for-small-only hide-for-print' %>

      <div id="responsive-menu">
        <div class="top-bar-title">
          <%= link_to root_path, class: 'hide-for-small-only  hide-for-print', accesskey: '/' do %>
              <%= image_tag('logo_header.png', class: 'logo-gif hide-for-small-only float-left', size: '80x80', alt: Setting['header_logo']) %>
              <%= Setting['app_name'] %>
          <% end %>
        </div>

        <div class="top-bar-right  hide-for-print">
          <ul class="menu">
            <%= render 'shared/admin_login_items' %>
            <!--%= render "devise/menu/login_items" %-->
          </ul>

          <div class="show-for-small-only  hide-for-print">
            <div class="subnavigation row">
              <%= render 'shared/subnavigation' %>
              <div class="small-9 medium-2 column">
                <%= yield :header_addon %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="subnavigation expanded">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
      <div class="small-12 medium-3 column">
        <%= yield :header_addon %>
      </div>
    </div>
  </div>

</header>
